.section__container {
    list-style-type: none;

    &:not(:last-child) {
        margin-bottom: $spacing-36;

        @include Desktop() {
            margin-bottom: $spacing-24;
        }
    }
}

.card.section--desktop {
    display: none;
    padding: $spacing-36;

    @include Desktop() {
        display: block;
    }
}

.section--mobile {
    @include Desktop() {
        display: none;
    }
}

.section__headline {
    display: flex;
    align-items: center;
}

.section__collapse-icon {
    margin-left: $spacing-16;
}

.section__content {
    max-height: 0;
    visibility: hidden;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}
