.page-header__container {
    padding-top: $spacing-24;

    @include Desktop() {
        padding-top: $spacing-56;
    }

    .listed-logo-link {
        display: flex;
        padding: 0;
        margin: 0;
        @include MenuHover(var(--header-listed-name));

        svg path {
            fill: var(--header-listed-name);
        }

        &::before {
            background-image: none;
        }

        @include Desktop() {
            padding: $spacing-2;
        }
    }
}

.page-header__container--post {
    background-color: $color-white;
}

#page-header {
    width: 100%;
    padding: $spacing-14 $spacing-16;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include Desktop() {
        padding: $spacing-10 $spacing-11-vw $spacing-10 calc(#{$spacing-11-vw} - #{$spacing-2});;
    }
}

.left {
    display: flex;
}

.website-name {
    @include Desktop() {
        padding: 0 $spacing-8 0 0;
    }
}

.listed-logo {
    height: 28px;
    width: 28px;

    @include Desktop() {
        height: 36px;
        width: 36px;
    }
}

.author-name__container {
    display: flex;

    &::before {
        content: "|";
        color: var(--header-listed-name);
        opacity: 0.16;
        margin: $spacing-14 $spacing-14 0 $spacing-12;
        font-size: $font-size-28;
        line-height: 0;

        @include Desktop() {
            margin: $spacing-20 $spacing-6 0 $spacing-6;
        }
    }

    .author-name.path-item {
        display: flex;
        align-items: center;

        a {
            @include MenuHover(var(--header-author-name));
            padding: 0;
            margin: 0;

            &::before {
                background-image: none;
            }
            @include Desktop() {
                padding: $spacing-6 $spacing-12;
            }
        }
    }
}

.right {
    display: flex;
}

.button.button--menu-icon {
    height: 24px;
    width: 24px;
    padding: 0;
    background: none;

    @include Desktop() {
        display: none;
    }
}
