.page-header__container {
    padding-top: $spacing-24;

    @include Desktop() {
        padding-top: $spacing-56;
    }

    .listed-logo-link {
        display: flex;

        &::before {
            background-image: none;
        }

        @include Desktop() {
            padding: 0 $spacing-8;
        }
    }
}

.page-header__container--post {
    background-color: $color-white;
}

#page-header {
    width: 100%;
    padding: $spacing-14 $spacing-16;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include Desktop() {
        padding: $spacing-10 $spacing-11-vw $spacing-10 calc(#{$spacing-11-vw} - #{$spacing-12});
    }
}

.left {
    display: flex;
}

.listed-logo {
    height: 28px;
    width: 28px;

    path {
        fill: var(--header-listed-name);
    }

    &__container {
        @include Desktop() {
            padding: $spacing-2;
        }
    }

    @include Desktop() {
        height: 36px;
        width: 36px;
    }
}

.author-name__container {
    display: flex;

    &::before {
        content: "|";
        color: var(--header-listed-name);
        opacity: 0.16;
        margin: $spacing-14 $spacing-14 0 $spacing-12;
        font-size: $font-size-28;
        line-height: 0;

        @include Desktop() {
            margin: $spacing-20 $spacing-10 0 $spacing-8;
        }
    }

    .author-name.path-item {
        display: flex;
        align-items: center;
        color: var(--header-author-name);

        @include Desktop() {
            padding: $spacing-2 $spacing-12;
        }
    }
}

.right {
    display: flex;
}

.button.button--menu-icon {
    height: 24px;
    width: 24px;
    padding: 0;
    background: none;

    @include Desktop() {
        display: none;
    }
}
