#author-profile {
    padding: 0 $spacing-16;
    background-color: var(--author-posts-background-color);

    .older {
        padding: $spacing-48 0;
        display: flex;
        justify-content: center;

        button {
            color: var(--link-color);
            display: flex;

            svg {
                margin-left: $spacing-4;

                path {
                    fill: var(--link-color);
                }
            }
        }

        @include Desktop() {
            padding: $spacing-56 0;
        }
    }

    @include Desktop() {
        padding: 0 $spacing-11-vw;
    }
}

.author-post {
    padding: $spacing-48 0;

    &:not(:last-child) {
        border-bottom: var(--border);
    }

    @include Desktop() {
        padding: $spacing-56 $spacing-60;
    }

    @include DesktopWide() {
        padding: $spacing-56 $spacing-136;
    }
}
