#subscription-form {
    text-align: center;

    .sublabel {
        margin-top: $spacing-8;
    }

    .text-field {
        width: 100%;
        margin: $spacing-12 $spacing-12 $spacing-12 0;

        @include Desktop() {
            width: 268px;
            margin-bottom: 0;
        }
    }

    .button {
        width: 100%;

        @include Desktop() {
            width: auto;
        }
    }
}
