#subscribe-page {
    .h1 {
        margin-bottom: $spacing-8;
    }

    #subscription-form {
        margin: $spacing-16 0;
    }

    .subscribe-page__rss-feed {
        text-align: center;

        @include Desktop() {
            text-align: left;
        }
    }
}
