%h3 Settings
%p There are a number of options in Settings for you to customise your blog. Settings can be found from any note in the Standard Notes web app or desktop app by clicking on Actions and then Settings.

%h4 About Your Blog
%p In Settings you can:
%ul
  %li Change your blog Username, Display Name and Bio
  %li Add a link to your webiste or Twitter acount
  %li Add a URL to an image you'd like to display in the header of you blog 
  %li Add a URL to an image you'd like to display when generating link previews in Twitter, Slack, Facebook, etc 

%h4 Managing Subscribers
%p Standard Notes enables your email newsletter sign up be default. Whenever you publish a post to your blog, you'll see an option to Email Subscribers under the Actions drop down.
%p Settings has the following features for you to manage:
%p 1. Set an email that subscribers can email you at. This email is also used to notify you when you have a new subscriber. To disable this feature, just leave the text box empty.
%p 2. Disable the subscription and newsletter features completely by selecting "Disable email subscription and newsletter functionality"  

%h4 Managing your Guestbook
%p Standard Notes enables your Guestbook up be default. You can disable the Guestbook by selecting "Disable guestbook" in Settings

%h3 Advanced Usage
%h4 How to style your blog with custom CSS:
%p 1. Create a new note in Standard Notes, and call it <code>listed_styles.css</code> (name doesn't matter).
%p 2. Use the following metadata structure, followed by some CSS, then publish the note to your blog.
.post-content
  %pre
    %code
      :preserve
        ---
        metatype: css
        ---

        html, body {
        	font-family: "Avenir Next", sans-serif;
        	color: #37424F;
        }

        h1 a, h2 a, h3 a, h4 a {
        	color: #37424F !important;
        }

        .post-content {
        	color: #37424F !important;
        }

        #author-header .bio {
        	opacity: 1.0;
        }

%h4 How to specify post date and canonical URL:
%p
  You can change the date that appears on your post,
  or set a <a href="https://en.wikipedia.org/wiki/Canonical_link_element" target="_blank">canonical URL</a> if you're importing a post from another location (such as Medium).
%p 1. Use the following metadata structure at the beginning of your note:
.post-content
  %pre
    %code
      :preserve
        ---
        created_at: 2017-11-20 17:08:05
        canonical: https://mysite.com/blog/1/post-im-importing
        ---

        Your story...


%h4 How to hide a story from your main feed:
.post-content
  %pre
    %code
      :preserve
        ---
        hidden: true
        ---

        Your story...

%h4 How to hide the body of all stories from your main feed:
%p You can hide the body content of all your stories in your main feed so that your main feed only displays titles
%p 1. If you havent done this already, create a new note in Standard Notes, and call it <code>listed_styles.css</code> (name doesn't matter).
%p 2. Add the following CSS to your CSS note
.post-content
  %pre
    %code
      :preserve

      .post-body {
        display: none;
      }

      #single-post-show .post-body {
        display: inline;
      }