@import "queries";
@import "guestbook_entry";
@import "authors";
@import "help";

@font-face {
    font-family: "Merriweather";
    src: url("../fonts/Merriweather-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    font-family: $font-family-default, sans-serif;
    background-color: var(--background-color);
    color: var(--body-text-color);
    height: 100%;
}

body {
    margin-left: auto;
    margin-right: auto;
}

a:not(.button) {
    color: var(--link-color);
    font-weight: bold;
    text-decoration: none;
    background-image: linear-gradient(#{$color-primary-opacity-16}, #{$color-primary-opacity-16});
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 100% 4px;

    &:hover {
        color: var(--body-text);
        background-image: linear-gradient(#{$color-primary-opacity-16}, #{$color-black-opacity-16});
    }
}

p {
    margin: 0;
}

.h1 {
    margin: 0;
    font-family: $font-family-headline, serif;
    font-size: $font-size-32;
    line-height: $line-height-44;

    @include Desktop() {
        font-size: $font-size-48;
        line-height: $line-height-64;
    }
}

.h2 {
    margin: 0;
    font-family: $font-family-headline, serif;
    font-size: $font-size-28;
    line-height: $line-height-42;

    @include Desktop() {
        font-size: $font-size-36;
        line-height: $line-height-52;
    }
}

.h3 {
    margin: 0;
    font-family: $font-family-headline, serif;
    font-size: $font-size-24;
    line-height: $line-height-32;

    @include Desktop() {
        font-size: $font-size-26;
        line-height: $line-height-36;
    }
}

.h4 {
    margin: 0;
    font-family: $font-family-headline, serif;
    font-size: $font-size-22;
    line-height: $line-height-28;
}

.h5 {
    margin: 0;
    font-family: $font-family-headline, serif;
    font-size: $font-size-18;
    line-height: $line-height-24;
}

.p1 {
    margin: 0;
    font-size: $font-size-17;
    line-height: $line-height-28;

    @include Desktop() {
        font-size: 19px;
        line-height: 30px;
    }
}

.p2 {
    margin: 0;
    font-size: $font-size-16;
    line-height: $line-height-24;
}

.p3 {
    margin: 0;
    font-size: $font-size-14;
    line-height: $line-height-20;
}

.button {
    font-size: $font-size-16;
    line-height: $line-height-24;
    font-weight: bold;
    padding: $spacing-6 $spacing-12;
    border-radius: $border-radius-4;
    border: none;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    text-align: center;
    font-family: $font-family-default;
    background-color: transparent;
    
    svg path {
        fill: $color-primary;
    }

    &:focus {
        outline: none;
    }
}

.button--primary {
    color: $color-white;
    background-image: 
        linear-gradient(to top, $color-black 50%, $color-primary 50%);
    background-size: 100% 200%;
    background-position: top;
    transition: background-position 0.3s ease-in-out;

    @include Desktop() {
        &:hover {
            background-position: bottom;
        }
    }
}

.button--no-fill {
    color: $color-primary;
    background-color: transparent;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: $border-radius-4;
        background-image: 
            linear-gradient(to top, $color-primary-opacity-8 50%, transparent 50%);
        background-size: 100% 200%;
        background-position: top;
        transition: background-position 0.3s ease-in-out;
    }

    @include Desktop() {
        &:hover {
            &::before {
                background-position: bottom;
            }
        }
    }
}

.button--active {
    color: $color-primary;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: $border-radius-4;
        background-color: $color-primary-opacity-8;
    }
}

.card {
    background-color: $color-white;
    padding: $spacing-16;
    border-radius: $border-radius-4;
    border: $border-default;
    text-align: left;
}

.page-container {
    padding: $spacing-24 $spacing-16 $spacing-48;

    @include Desktop() {
        padding: $spacing-56 $spacing-11-vw;
    }
}

.headline-separator {
    height: 3px;
    background-color: $color-black-opacity-16;
    flex: 1;
    margin-left: $spacing-16;

    @include Desktop() {
        margin-left: $spacing-24;
    }
}

.text-field {
    padding: $spacing-6 0 $spacing-6 $spacing-12;
    border-radius: $border-radius-4;
    border: $border-default;
    font-family: $font-family-default;
    font-size: $font-size-16;
    line-height: $line-height-24;
}

.callout {
    padding: $spacing-12;
    border-radius: $border-radius-4;
    border: $border-default;
    font-size: $font-size-16;
    line-height: $line-height-24;
    background-color: $color-white;
    display: inline-block;

    &.callout--warning {
        border-left: $border-warning;
    }

    &.callout--success {
        border-left: $border-success;
    }
}

.block {
    display: block;
}

.faded {
    opacity: 0.3;
}

input,
textarea {
    border: 1px solid rgba(black, 0.1);
    resize: none;

    &:focus {
        outline: none;
    }
}

textarea {
    padding: 8px;
}

hr {
    display: block;
    border: 0;
    text-align: center;
    margin: -$spacing-4 0;

    &:before {
        font-family: $font-family-headline;
        font-weight: 400;
        font-size: $font-size-24;
        letter-spacing: 12px;
        content: "...";
        display: inline-block;
        color: var(--body-text-color);
    }
}

blockquote {
    border-left: 2px solid #cdcdcd;
    padding-left: 20px;
    opacity: 0.8;
    margin-left: 0;
}

#main-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100%;
}

#content-container {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.mt-5 {
    margin-top: 5px !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.mt-15 {
    margin-top: 15px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-40 {
    margin-top: 40px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

button {
    border: none;
    cursor: pointer;

    @mixin wide-button() {
        font-weight: bold;
        text-align: center;
        padding: 10px;
        font-size: 16px;
        min-width: 200px;

        &:hover {
            text-decoration: underline;
        }
    }

    &.black {
        @include wide-button();
        background-color: black;
        color: white;
    }

    &.white {
        @include wide-button();
        background-color: white;
        color: black;
        border: 1px solid rgba(gray, 0.2);
    }
}

.wrap {
    word-wrap: break-word;
}

input.delete-blog {
    background-color: red;
    color: white;
    font-weight: bold;
}

div.alert.error {
    border-width: thin;
    border-style: dotted;
    text-align: center;
    margin-bottom: 10px;
    color: red;
}
