@font-face {
    font-family: "Merriweather";
    src: url("../fonts/Merriweather-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    font-family: $font-family-default, sans-serif;
    background-color: var(--background-color);
    color: var(--body-text-color);
    height: 100%;
}

body {
    margin-left: auto;
    margin-right: auto;
}

a {
    color: var(--link-color);
    font-weight: bold;
    text-decoration: none;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to top, var(--link-color) 50%, var(--link-color) 50%);
        background-position: bottom;
        background-repeat: repeat-x;
        background-size: 100% 4px;    
        opacity: 0.16;
    }

    &:hover {
        color: var(--body-text-color);

        &::before {
            background-image: linear-gradient(to top, var(--body-text-color) 50%, var(--body-text-color) 50%);
            opacity: 1;
        }
    }
}

blockquote {
    border-left: $spacing-2 solid $color-black-opacity-36;
    padding-left: $spacing-20;
    margin-left: 0;
}

p {
    margin: 0;
}


hr {
    display: block;
    border: 0;
    text-align: center;
    margin: -$spacing-4 0;

    &:before {
        font-family: $font-family-headline;
        font-weight: 400;
        font-size: $font-size-24;
        letter-spacing: 12px;
        content: "...";
        display: inline-block;
        color: var(--body-text-color);
    }
}

textarea {
    resize: none;
}

.h1 {
    margin: 0;
    font-family: $font-family-headline, serif;
    font-size: $font-size-32;
    line-height: $line-height-44;

    @include Desktop() {
        font-size: $font-size-48;
        line-height: $line-height-64;
    }
}

.h2 {
    margin: 0;
    font-family: $font-family-headline, serif;
    font-size: $font-size-28;
    line-height: $line-height-42;

    @include Desktop() {
        font-size: $font-size-36;
        line-height: $line-height-52;
    }
}

.h3 {
    margin: 0;
    font-family: $font-family-headline, serif;
    font-size: $font-size-24;
    line-height: $line-height-32;

    @include Desktop() {
        font-size: $font-size-26;
        line-height: $line-height-36;
    }
}

.h4 {
    margin: 0;
    font-family: $font-family-headline, serif;
    font-size: $font-size-22;
    line-height: $line-height-28;
}

.h5 {
    margin: 0;
    font-family: $font-family-headline, serif;
    font-size: $font-size-18;
    line-height: $line-height-24;
}

.p1 {
    margin: 0;
    font-size: $font-size-17;
    line-height: $line-height-28;

    @include Desktop() {
        font-size: 19px;
        line-height: 30px;
    }
}

.p2 {
    margin: 0;
    font-size: $font-size-16;
    line-height: $line-height-24;
}

.p3 {
    margin: 0;
    font-size: $font-size-14;
    line-height: $line-height-20;
}

.button {
    font-size: $font-size-16;
    line-height: $line-height-24;
    font-weight: bold;
    padding: $spacing-6 $spacing-12;
    border-radius: $border-radius-4;
    border: none;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    text-align: center;
    background-color: transparent;
    margin: 1px;
    transition: background-position 0.3s ease-in-out;
    
    svg path {
        fill: $color-primary;
    }

    &:focus {
        outline: none;
    }
}

.button--primary {
    color: $color-white;
    background-image: 
        linear-gradient(to top, $color-black 50%, var(--page-menu-link-color) 50%);
    background-size: 100% 200%;
    background-position: top;

    @include Desktop() {
        &:hover {
            background-position: bottom;
        }
    }
}

.button--no-fill {
    color: var(--page-menu-link-color);
    background-color: transparent;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: $border-radius-4;
        background-image: 
            linear-gradient(to top, var(--page-menu-link-color) 50%, transparent 50%);
        background-size: 100% 200%;
        background-position: top;
        opacity: 0.08;
        transition: background-position 0.3s ease-in-out;
    }

    @include Desktop() {
        &:hover {
            color: $color-primary;

            &::before {
                background-image: 
                linear-gradient(to top, var(--page-menu-link-color) 50%, transparent 50%);
                background-size: 100% 200%;
                background-position: top;
                background-position: bottom;
                opacity: 0.08;
            }
        }
    }
}

.button--active {
    color: var(--page-menu-link-color);
    position: relative;
    background-image: none;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: $border-radius-4;
        background-color: $color-primary-opacity-8;
    }
}

.button--disabled {
    background-color: $color-black-opacity-36;
    color: $color-white;
}

.card {
    background-color: $color-white;
    padding: $spacing-16;
    border-radius: $border-radius-4;
    border: $border-default;
    text-align: left;
}

.callout {
    padding: $spacing-12;
    border-radius: $border-radius-4;
    border: $border-default;
    font-size: $font-size-16;
    line-height: $line-height-24;
    background-color: $color-white;
    display: inline-block;
}

.callout--success {
    border-left: 3px solid $color-success;
}

.callout--warning {
    border-left: 3px solid $color-warning;
}

.error-message {
    color: $color-error;
    margin-top: $spacing-6;
}

.form-section {
    display: flex;
    flex-direction: column;
    padding-top: $spacing-24;

    .text-field {
        margin-top: $spacing-6;
        width: 100%;
    }
}

.form-row {
    @include Desktop() {
        display: flex;
        flex-direction: row;

        .form-section {
            width: 100%;

            &:not(:last-child) {
                margin-right: $spacing-24;
            }
        }
    }
}

.headline-separator {
    height: 3px;
    background-color: $color-black-opacity-16;
    flex: 1;
    margin-left: $spacing-16;

    @include Desktop() {
        margin-left: $spacing-24;
    }
}

.label {
    font-weight: bold;
}

.label--required::after {
    content: "*";
    color: $color-error;
    margin-left: $spacing-4;
}

.page-container {
    padding: $spacing-24 $spacing-16 $spacing-48;

    @include Desktop() {
        padding: $spacing-56 $spacing-11-vw;
    }
}

.sublabel {
    opacity: 0.86;
}

.text-field {
    padding: $spacing-6 0 $spacing-6 $spacing-12;
    border-radius: $border-radius-4;
    border: $border-default;
    font-family: $font-family-default;
    font-size: $font-size-16;
    line-height: $line-height-24;
    appearance: none;
    -webkit-appearance: none;

    &:focus {
        outline: $color-primary auto 1px;
    }
}

.text-field--error {
    outline: $color-error auto 1px;
}

.author-page {
    .button--primary {

    }
}
