#page-header-hr {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  margin-top: 0.5rem;
  height: 1px;
  background-color: var(--header-border-color);
  left: 50%;
}

#settings {
  .urls {
    p {
      margin-bottom: 0;
    }
    .header {
      font-weight: bold;
      font-size: 14px;
    }
    .url {
      a {
        color: rgba(black, 0.5);
        font-size: 12px;
      }
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  .form-section {
    display: block;
    margin-bottom: 20px;

    &.low-margin {
      margin-bottom: 5px;
    }

    .label {
      display: block;
    }

    .field {
      display: block;
      width: 200px;
      min-height: 30px;
      padding-left: 6px;
    }

    .inline {
      display: inline-block;
      width: auto;
      vertical-align: middle;
    }

    .bio {
      height: 100px;
    }
  }
}

.pinned-posts {
  display: flex;
  flex-wrap: wrap;

  .pinned-post {
    margin-right: 20px;
    margin-top: 16px;
    border: 1px solid rgba(black, 0.1);
    padding: 14px;
    padding-bottom: 0;
    border-radius: 8px;
    max-width: 450px;
    max-height: 200px;
    overflow: scroll;

    .author {
      color: var(--body-text-color);
      font-style: italic;
      color: var(--body-text-color);
    }

    .text {
      color: var(--body-text-color);
      cursor: pointer;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
