#page-header-hr {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  margin-top: 0.5rem;
  height: 1px;
  background-color: var(--header-border-color);
  left: 50%;
}

#settings {
  .urls {
    p {
      margin-bottom: 0;
    }
    .header {
      font-weight: bold;
      font-size: 14px;
    }
    .url {
      a {
        color: rgba(black, 0.5);
        font-size: 12px;
      }
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  .form-section {
    display: block;
    margin-bottom: 20px;

    &.low-margin {
      margin-bottom: 5px;
    }

    .label {
      display: block;
    }

    .field {
      display: block;
      width: 200px;
      min-height: 30px;
      padding-left: 6px;
    }

    .inline {
      display: inline-block;
      width: auto;
      vertical-align: middle;
    }

    .bio {
      height: 100px;
    }
  }
}

.pinned-posts {
  display: flex;
  flex-wrap: wrap;

  .pinned-post {
    margin-right: 20px;
    margin-top: 16px;
    border: 1px solid rgba(black, 0.1);
    padding: 14px;
    padding-bottom: 0;
    border-radius: 8px;
    max-width: 450px;
    max-height: 200px;
    overflow: scroll;

    .author {
      color: var(--body-text-color);
      font-style: italic;
      color: var(--body-text-color);
    }

    .text {
      color: var(--body-text-color);
      cursor: pointer;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.form-box {
  margin-top: 0.8rem;
  border: 1px solid var(--dimmed-border-color);
  padding: 14px;
  border-radius: 0px;
  max-width: 400px;
  font-size: 15px;

  &.full {
    input {
      width: 100%;
    }
  }

  .sublabel {
    color: var(--dimmed-text-color);
    font-size: 12px;
  }

  &.centered {
    margin-left: auto;
    margin-right: auto;
    form {
      margin-left: auto;
      margin-right: auto;
    }
  }

  input:not([type="checkbox"]),
  button {
    padding-left: 8px;
    height: 30px;
    min-width: 240px;
    border-radius: 4px;
  }

  input[type="checkbox"] {
    margin: 0 6px 0 0;
  }

  label {
    display: block;
    font-weight: bold;
    font-size: 14px;
  }
}

form {
  &.no-border {
    padding: 0;
    border: none;
  }
}

#subscription-form {
  input {
    margin-top: 12px;
    width: inherit;
  }
}
