@mixin Desktop() {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin DesktopWide() {
  @media (min-width: 1400px) {
    @content;
  }
}

@mixin MenuHover($color) {
  color: $color;

  &.button--no-fill {
    background-color: transparent;
    position: relative;

    &::before {
      background-image:
              linear-gradient(to top, $color 50%, transparent 50%);
      opacity: 0.08;
    }

    &:hover {
      color: $color;
    }
  }
}