:root {
  --dimmed-text-color: rgb(170, 170, 170);
  --dimmed-border-color: rgb(233, 233, 233);
  --background-color: white;
  --body-text-color: black;
  --post-title-color: var(--body-text-color);
  --post-date-color: var(--body-text-color);
  --post-text-color: var(--body-text-color);
  --page-menu-link-color: var(--body-text-color);
  --header-author-name: var(--body-text-color);
  --header-listed-name: var(--dimmed-text-color);
  --more-from-border-color: var(--dimmed-border-color);
  --bio-color: var(--body-text-color);
  --wordcount-color: var(--dimmed-text-color);
  --website-color: var(--dimmed-text-color);
  --twitter-color: var(--dimmed-text-color);
  --link-color: #086dd6;
  --header-border-color: var(--dimmed-border-color);
}
