:root {
    --text-default-color: black;
    --text-contrast-color: #00208f;
    --text-button-action-color: white;
    --text-link-color: #00208f;
    --button-action-color: #00208f;
    --border-default-color: #181818;
    --border-contrast-color: #00208f;
    --text-default-font: "Roboto";
    --text-headline-font: "Merriweather";
}
