%h3 Congratulations! 🎉

%p
  Your custom domain has been approved, and your blog is now live at
  %a{"href" => "#{@url}"} #{@url}.

%p Any questions? Please feel free to reply directly to this email.
