%h3 Congratulations!

%p
  Your excellent track record of high quality writing on Listed has earned you a spot as a featured writer.
  This means you'll have a permanent spot on our
  %a{"href" => "https://listed.standardnotes.org"} homepage
  (so long as you remain active), as well as a distinguised star next to your name.

%p Keep up the good work!
