.post-content {
    .post-header .post-title {
        color: var(--post-title-color);

        a::before {
            background-image: none;
        }
    }

    .post-body {
        margin: $spacing-24 0;
        $base-header-font: 1.6rem;

        h1 {
            font-size: $base-header-font;
        }

        h2 {
            font-size: $base-header-font - 0.1rem;
        }

        h3 {
            font-size: $base-header-font - 0.2rem;
        }

        h4 {
            font-size: $base-header-font - 0.3rem;
        }

        h5 {
            font-size: $base-header-font - 0.4rem;
        }

        h6 {
            font-size: $base-header-font - 0.5rem;
        }

        li:not(:last-child) {
            margin-bottom: $spacing-10;
        }

        p:not(:last-child) {
            margin-bottom: $spacing-22;
        }

        pre {
            padding: $spacing-22;
            overflow: auto;
            font-size: 90%;
        }

        p code {
            font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
            font-size: 85%;
            padding: $spacing-4;
            background-color: var(--post-code-background-color);
            border: 1px solid var(--post-code-border-color);
            border-radius: 3px;
        }

        img {
            display: block;
            margin-top: 30px;
            max-width: 100%;
        }

        table {
            display: block;
            width: 100%;
            overflow: auto;
            border-collapse: collapse;
            border-spacing: 0px;
            border-color: grey;

            th,
            td {
              padding: 6px 13px;
              border: 1px solid #dfe2e5;
            }

            tr:nth-child(2n) {
              background-color: #f6f6f6;
            }
        }
    }

    .post-date {
        margin-top: $spacing-8;
        opacity: 0.86;

        &__separator {
            margin: 0 $spacing-6;
        }
    }
}

.post-preview {
    .post-body {
        margin: $spacing-8 0;

        p:not(:last-child) {
            margin-bottom: $spacing-22;
        }
    }

    &.post-content a .post-header,
    .post-body {
        color: var(--body-text-color);
        font-weight: normal;
    }

    .read-more-link {
        background: none;
        display: flex;

        &:hover {
            background: none;

            .read-more-link__icon {
                path {
                    fill: var(--body-text-color);
                }
            }
        }

        &::before {
            content: none;
        }
    }

    .read-more-link__icon {
        width: 20px;
        height: 20px;
        margin-left: $spacing-6;

        path {
            fill: var(--link-color);
        }
    }
}
