.single-post-show {
    padding: 0 $spacing-16 $spacing-48;
    background-color: $color-white;

    hr {
        margin-bottom: $spacing-24;
    }

    .post-content {
        padding: $spacing-24 0 $spacing-48;
    
        @include Desktop() {
            padding: $spacing-56 $spacing-136;
        }
    }

    #subscription-form {
        text-align: center;

        .sublabel {
            margin: $spacing-8 0 $spacing-12;
            font-size: $font-size-16;
            line-height: $line-height-24;
        }
    }

    @include Desktop() {
        padding: 0 $spacing-11-vw $spacing-56;
    }
}

.more-from {
    display: flex;
    align-items: center;
}

#single-post-footer {
    background-color: $color-default;
    padding: $spacing-48 $spacing-16;

    @include Desktop() {
        padding: $spacing-56 $spacing-11-vw;
    }
}

.previous-next-container {
    margin-top: $spacing-24;

    .previous:not(:last-child) {
        margin-bottom: $spacing-16;
    }

    @include Desktop() {
        display: flex;
        margin: $spacing-36 0 0;

        .previous.card {
            margin-bottom: 0;

            &:not(:last-child) {
                margin-right: $spacing-12;
            }
        }
    
        .next:not(:first-child) {
            margin-left: $spacing-12;
        }
    }
}
