.dropdown {
    position: relative;

    .button {
        margin: 0;
        padding: 0;
        font-weight: normal;
    }
}

.dropdown__list.card {
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    right: 0;
    margin: $spacing-2 0;
    padding: $spacing-8 0;
    list-style: none;
    width: 170px;
    background-image: none;
    transition: all 0.3s ease-in-out;

    &.dropdown__list--open {
        opacity: 1;
        visibility: visible;
        box-shadow: $spacing-8 $spacing-8 0 $color-primary;
    }
}

.dropdown__option {
    padding: $spacing-12;

    &:not(:last-child) {
        margin-bottom: $spacing-4;
    }

    &:hover {
        background-color: $color-primary-opacity-8;
    }

    .option__button {
        width: 100%;
        text-align: left;
        display: flex;
        align-items: center;
    }

    .option__icon {
        margin-right: $spacing-8;
        width: 20px;
        height: 20px;

        path {
            fill: $color-black-opacity-86;
        }
    }
}
