#footer {
    border-top: $border-default;
    margin: 0 $spacing-16;
    padding: $spacing-36 0;
    text-align: center;

    .p3:not(:last-child) {
        margin-bottom: $spacing-16;
    }

    @include Desktop() {
        display: flex;
        justify-content: space-between;
        margin: 0 $spacing-11-vw;

        .p3 {
            margin-bottom: 0;
        }
    }
}