#resources {
    .resources__list {
        margin: 0;
        padding: $spacing-16 0 0;
        list-style-type: none;

        li {
            border-bottom: var(--border);

            &:first-child {
                border-top: var(--border);
            }

            a {
                font-weight: normal;
                color: $color-black;
                padding: $spacing-16 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                text-align: left;

                &:hover {
                    padding: $spacing-14 0;
                }
            }
        }
    }

    .resources__link {
        &::before {
            background-image: none;
        }
    
        &:hover &::before {
            background-image: none;
        }
    }
}

.resources__hover-content {
    display: none;
}
