.button.scroll-to-top__button {
    background-color: var(--color-neutral);
    position: fixed;
    bottom: $spacing-16;
    right: $spacing-16;
    padding: 0;
    border-radius: 22px;
    display: none;

    .scroll-to-top__container {
        width: 44px;
        height: 44px;
        border: var(--scroll-to-top-border);
        border-radius: 22px;
        background-color: var(--scroll-to-top-background-color);
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.1s ease-in-out;
    
        .scroll-to-top__icon {
            width: 24px;
            height: 24px;
            transform: rotate(-90deg);
    
            path {
                fill: var(--scroll-to-top-icon-color);
            }
        }

        &:hover {
            border: 1px solid var(--scroll-to-top-border-color-hover);
        }
    }
}

.button.scroll-to-top__button--visible {
    display: block;

    .scroll-to-top__container {
        opacity: 1;
    }
}
