.active-author {
    display: block;
    margin-bottom: $spacing-16;

    a::before {
        background-image: none;
    }

    &:last-child {
        margin-bottom: 0;
    }

    .active-author__bio {
        color: var(--color-contrast);
        font-weight: normal;
        margin-top: $spacing-4;
    }

    .card {
        transition: box-shadow 0.3s ease-in-out;
        overflow-wrap: break-word;

        &:hover {
            box-shadow: $spacing-8 $spacing-8 0 $color-primary;
            background-image: none;
    
            .active-author__title {
                color: $color-primary;
            }
    
            .active-author__icon--featured {
                g {
                    opacity: 1;
                }
    
                path {
                    fill: $color-primary;
                }
            }
        }
    }

    @include Desktop() {
        width: calc((100% - #{$spacing-24} * 3) / 4);
        margin-bottom: $spacing-24;

        @media (max-width: 1311px) {
            width: calc((100% - #{$spacing-24} * 2) / 3)
        }
    }
}

.active-author__title {
    color: var(--color-contrast);
    display: flex;
    justify-content: space-between;
    transition: color 0.3s ease-in-out;
}

.active-author__word-count {
    margin-top: $spacing-8;
    display: flex;
    color: var(--color-contrast);
    font-weight: normal;
}

.active-author__icon {
    width: 20px;
    height: 20px;
}

.active-author__icon--word-count {
    margin-right: $spacing-8;
}

.active-author__icon--featured {
    g {
        opacity: 0.86;
        transition: opacity 0.3s ease-in-out;
    }

    path {
        fill: var(--color-contrast);
        transition: fill 0.3s ease-in-out;
    }
}

.easter-egg__sign-up {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: var(--color-contrast);
    margin-top: $spacing-8;

    .easter-egg__icon--arrow {
        height: 16px;
        width: 16px;
        margin-left: $spacing-8;
    
        path {
            fill: var(--color-contrast);
        }
    }
}
