.active-authors__headline {
    display: flex;
    align-items: center;
    margin: $spacing-48 0 $spacing-24;

    @include Desktop() {
        margin: $spacing-56 0 $spacing-36 0;
    }
}

.active-authors__headline-separator {
    height: 3px;
    background-color: $bg-color-black-opacity-16;
    flex: 1;
    margin-left: $spacing-24;
}

.active-authors__masonry-layout {
    display: none;

    @include Desktop() {
        display: flex;
    }
}

.active-authors__masonry-column {
    &:not(:last-child) {
        margin-right: $spacing-24;
    }
}

.active-authors--mobile {
    @include Desktop() {
        display: none;
    }
}
