.masonry-layout {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;  

    @include Desktop() {
        display: block;

        &.masonry-layout--visible {
            opacity: 1;
            display: flex;
            flex-flow: column wrap;
            max-width: 100%;
            margin-bottom: -$spacing-24;
        }
    }
}

.masonry-layout__column-break {
    flex-basis: 100%;
    width: 24px;
}
