%p
  Good news! Someone just subscribed to your blog.
  They'll automatically be notified every time you publish a new post.

%p You now have #{@author.verified_subscriptions.count} subscriber(s). Keep up the good work!
