.confirmation-modal {
    &__overlay {
        position: fixed;
        background-color: var(--color-contrast-opacity-86);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        z-index: 1;
    }

    &__modal {
        margin: 0 $spacing-36;

        @include Desktop() {
            margin: auto;
        }
    }

    &__buttons {
        margin-top: $spacing-24;
        display: flex;
        justify-content: flex-end;

        .button--primary {
            margin-left: $spacing-12;
            background-image: linear-gradient(to top, var(--color-contrast) 50%, $color-error 50%);
        }

        .button--no-fill {
            @include MenuHover(var(--color-contrast));
        }

        .button--secondary-disabled {
            color: var(--color-contrast-opacity-36);
        }
    }
}
