.custom-domain {
    .form-row {
        align-items: flex-end;
    }

    .form-row--error .form-section {
        padding-top: 0px;
    }

    .callout {
        margin-top: $spacing-24;
        width: 100%;
    }

    .hover-container {
        display: flex;
        align-items: center;
        min-height: 30px;
    }

    .custom-domain__info {
        margin-top: $spacing-8;
    }

    &__details {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-grow: 1;
    }
}

.custom-domain__linked-icon {
    height: 20px;
    width: 20px;
    margin-right: $spacing-8;
}
