.guestbook-entries {
    padding: $spacing-16 0 0;
    margin: 0;
    list-style-type: none;
}

.guestbook-entries__item {
    padding: $spacing-16 0;
    border-top: var(--border);
    display: flex;
    align-items: center;

    &:last-child {
        border-bottom: var(--border);
    }

    .button--make-public {
        display: none;

        @include Desktop() {
            display: block;
            margin-right: $spacing-12;
        }
    }
}

.guestbook-entries__entry {
    flex-grow: 1;

    .entry__details {
        color: var(--color-contrast-opacity-86);
        font-weight: normal;
        display: inline-flex;
        align-items: center;
        margin-top: $spacing-6;

        &--private {
            display: block;
        }

        .entry-details__icon {
            width: 14px;
            height: 14px;
            margin-right: $spacing-6;

            path {
                fill: var(--color-contrast-opacity-86);
            }
        }
    }

    .entry-details__item {
        display: inline-flex;
        align-items: center;

        &:not(:last-child)::after {
            content: "·";
            margin: 0 $spacing-6;
        }
    }
}

.guestbook-entries__action--make-public {
    @include Desktop() {
        display: none;
    }
}
