.my-posts {
    margin: $spacing-16 0 0;
    padding: 0;
    list-style-type: none;
}

.my-posts__item {
    padding: $spacing-16 0;
    border-top: $border-default;
    display: flex;
    align-items: center;

    &:last-child {
        border-bottom: $border-default;
    }

    &:hover .my-posts__hover-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    a.my-posts__post {
        background-image: none;
        color: $color-black;
        flex-grow: 1;

        &:hover {
            background-image: none;
        }
    
        .post__details {
            color: $color-black-opacity-86;
            font-weight: normal;
            display: inline-flex;
            align-items: center;
            margin-top: $spacing-6;
    
            .post-details__icon {
                width: 14px;
                height: 14px;
                margin-right: $spacing-6;
    
                path {
                    fill: $color-black-opacity-86;
                }
            }
        }
    
        .post-details__item {
            display: inline-flex;
            align-items: center;
    
            &:not(:last-child)::after {
                content: "·";
                margin: 0 $spacing-6;
            }
        }
    }
}

.my-posts__hover-container {
    display: none;

    .hover-icon__container {
        width: 28px;
        height: 28px;
        border: $border-default;
        border-radius: 14px;
        background-color: $color-primary-opacity-8;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hover-icon {
        width: 16px;
        height: 16px;

        path {
            fill: $color-black;
        }
    }
}
