.payment-details {
    .payment-details__info {
        margin-top: $spacing-8;
    }

    .callout {
        margin-top: $spacing-12;
        width: 100%;

        &:first-child {
            margin-top: $spacing-24;
        }
    }

    .payment-details__credential {
        color: var(--color-contrast-opacity-86);
        font-weight: normal;
        display: flex;
        align-items: center;
        min-height: 30px;
    }

    .credential__details {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-grow: 1;
    }

    .credential__key {
        &:not(:last-child)::after {
            content: "·";
            margin: 0 $spacing-6;
        }
    }

    .credential__icon {
        height: 20px;
        width: 20px;
        margin-right: $spacing-8;
    }
}
