.guestbook__container .callout {
    margin: $spacing-36 0;
}

.guestbook__new-entry-button-container {
    display: flex;
    flex-direction: column-reverse;
    margin: $spacing-36 0;

    .p1 {
        margin-bottom: $spacing-16;
    }

    @include Desktop() {
        flex-direction: row;
        align-items: center;
        margin-top: $spacing-24;

        .button {
            margin-right: $spacing-16;
        }

        .p1 {
            margin-bottom: 0;
        }
    }
}

.guestbook__entry {
    border-left: 3px solid var(--guestbook-border-left-color);
    border-radius: $border-radius-4;
    padding-left: $spacing-16;

    &:not(:last-child) {
        margin-bottom: $spacing-36;
    }
}
