#posts-container
  .days
    - @days.each do |day|
      %h3{"style" => "font-weight: normal;"}
        = day[:day]
      .posts-links.mt-10
        - day[:posts].each do |post|
          .link
            %a.block{"href" => "#{post.tokenized_url}"}
              = post.title
