$blue-color: #086dd6;

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "stylekit.css";
@import "posts";
@import "guestbook_entry";
@import "authors";
@import "help";
@import "usage";
@import "rouge";
@import "subscriptions";

* {
  box-sizing: border-box;
}

html, body {
 margin: 0;
 font-family: sans-serif;
 line-height: 1.5;
 color: black;
 font-size: 18px;
 height: 100%;
}

body {
  padding: 1rem 6rem 4px 6rem;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.block {
  display: block;
}

a {
  color: $blue-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.faded {
  opacity: 0.3;
}

input, textarea {
  border: 1px solid rgba(black, 0.1);
  resize: none;

  &:focus {
    outline:none;
  }
}

textarea {
  padding: 8px;
}

hr {
  $hr-height: 35px;
  display: block;
  border: 0;
  text-align: center;
  box-sizing: content-box;
  height: $hr-height;
  padding-top: 10px;
  border: 0 !important;

  &.left {
    text-align: left;
  }

  &:before {
    // margin-top: 26px;
    font-family: Georgia,Cambria,"Times New Roman",Times,serif;
    font-weight: 400;
    font-style: italic;
    font-size: 28px;
    letter-spacing: .3em;
    content: '...';
    display: inline-block;
    margin-right: .6em;
    color: black;
    position: relative;
    top: -$hr-height/2;
  }
}

blockquote {
 border-left: 2px solid #cdcdcd;
 padding-left: 20px;
 opacity: 0.8;
 margin-left: 0;
}

h1, h2, h3 {
  margin-top: 0;
  margin-bottom: 4px;
  -webkit-margin-after: 4px;
}

@media screen and (max-width: 42em) {
  body {

  }
}

@media screen and (min-width: 64em) {
  body {

  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  body {
    padding: 2rem 4rem;
  }
}

@media screen and (max-width: 42em) {
  body {
    padding: 0px 1.2rem;
    font-size: 17px;
  }
}

#main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

#content-container {
  -webkit-box-flex: 1;
    -ms-flex: 1;
        flex: 1;

}


#header {
  width: 100%;
  border-bottom: 1px solid rgba(black, 0.08);
  padding-bottom: 10px;
  a {
    color: black;
    font-size: 14px;
  }
}

#footer {
  font-size: 12px;
  color: gray;
  margin-top: 30px;
  margin-bottom: 15px;

  .left {
    float: left;

    .listed  {
      color: black;
      display: inline-block;
      padding-right: 8px;
    }
    .via {
      color: gray;
      display: inline-block;
    }

    .links {
      display: inline;
      border-left: 1px solid black;
      padding-left: 8px;

      a {
        margin-right: 5px;
      }
    }

    * {
      display: inline-block;
    }
  }

  a {
    color: black;
  }
  .right {
    float: right;
  }
}

.mt-5 {
  margin-top: 5px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mt-50 {
  margin-top: 50px !important;
}


button {
  border: none;
  cursor: pointer;

  @mixin wide-button() {
    font-weight: bold;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    min-width: 200px;

    &:hover {
      text-decoration: underline;
    }
  }

  &.blue {
    @include wide-button();
    background-color: $blue-color;
    color: white;
  }

  &.black {
    @include wide-button();
    background-color: black;
    color: white;
  }

  &.white {
    @include wide-button();
    background-color: white;
    color: black;
    border: 1px solid rgba(gray, 0.2);
  }
}

.wrap {
  word-wrap: break-word;
}
