#author-posts {
  padding-top: 48px;
}

#author-posts .navigation {
  width: 100%;
}

#author-posts .author-post {
  padding: 16px;
  margin-bottom: 16px;
  border: 1px solid rgba(24, 24, 24, 0.16);
  border-radius: 4px;
  background-color: #F8F9FC;
}

#author-posts .post-body {
  display: none;
}

#author-posts .author-post .post-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

#author-posts .post-title {
  font-size: 28px;
  line-height: 42px;
  word-wrap: break-word;
}

#author-posts .post-header {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#author-posts  h2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

@media (min-width: 992px) {
  #author-posts {
    padding-top: 56px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -16px;
  }

  #author-posts .author-post {
    width: calc(25% - 16px);
    margin-right: 16px;
  }
}