.page-header__container .header-author-info {
  padding-top: 0;
  padding-bottom: 0;
}

.page-header__container .header-author-info__items {
  min-height: 0;
  flex-direction: column-reverse;
  margin-bottom: 0;
  align-items: flex-start;
}

.header-author-info__items .h1 {
  display: none;
}

.page-header__container .header-author-links {
  margin-bottom: 16px;
}

.page-header__container .header-image-container {
  width: 100%;
  margin-right: 0;
  margin-bottom: 0;
  height: 200px;
}

.page-header__container .header-author-info .word-count__button {
  margin-top: 24px;
  padding-top: 16px;
  padding-bottom: 8px;
}
