// Place all the styles related to the guestbook_entry controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.guestbook-entry-form {
  .text-input {
    margin-top: 2px;
    margin-bottom: 4px;
    width: 100%;
    border-radius: 4px;
    font-size: 15px;

    &.tall {
      height: 140px;
    }

    &.mid-tall {
      height: 80px;
    }
  }
}
