.days {
  // margin-top: 50px;
}

.posts-links {
  .link {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 16px;
  }
}

h2 {
  a {
    color: black;
  }
}

.previous-next-container {
  text-align: left;

  .previous, .next {
    position: relative;
    border: 1px solid rgba(black, 0.1);
    border-radius: 4px;
    padding: 30px;
    margin-bottom: 30px;
  }

  .previous {

  }

  .next {

  }
}

.more-from-link {
  margin-bottom: 15px;
}


#single-post-show {
  margin-top: 40px;

  .more-from {
    margin-top: 140px;
  }

  #single-post-footer {
    text-align: center;

    .posts {
      margin-top: 10px;
    }

    a {
      color: black;
      margin-bottom: 5px;
    }

    .author-name {
      text-decoration: underline;
    }
  }
}

.post-content {
  margin-top: 20px;
  clear: both;
  line-height: 1.6;
  text-align: left;
  font-weight: normal;
  color: black;
  position: relative;
  overflow: visible;

  // post-content and post-preview (next/previous from author) share each other's template.
  &.post-preview {
    margin-top: 0;

    .read-more-link {
      margin-top: 12px;
      font-weight: bold;
    }

    .post-preview-body {
      margin-top: 8px;
    }
  }

  .post-body {
    $base-header-font: 1.3rem;

    h1 {
      font-size: $base-header-font;
    }

    h2 {
      font-size: $base-header-font - 0.1rem;
    }

    h3 {
      font-size: $base-header-font - 0.2rem;
    }

    h4 {
      font-size: $base-header-font - 0.3rem;
    }

    h5 {
      font-size: $base-header-font - 0.5rem;
    }
  }

  pre {
    font-family: Consolas,monaco,"Ubuntu Mono",courier,monospace!important;
    padding: 16px;
    overflow: auto;
    font-size: 90%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border-radius: 3px;
  }

  p code {
    font-family: Consolas,monaco,"Ubuntu Mono",courier,monospace!important;
    font-size: .75rem;
    line-height: .75rem;
    color: #c25;
    padding: 4px 8px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 3px;
  }

  img {
    display: block;
    margin-top: 30px;
    max-width: 100%;
  }

  table {
    display: block;
    width: 100%;
    overflow: auto;
    border-collapse: collapse;
    border-spacing: 0px;
    border-color: grey;

    th, td {
      padding: 6px 13px;
      border: 1px solid #dfe2e5;
    }

    tr:nth-child(2n) {
      background-color: #f6f6f6;
    }
  }

  p a {
    text-decoration: underline !important;
  }
}

.big-button {
  border: 1px solid rgba(black, 0.1);
  border-radius: 4px;
  width: 300px;
  text-align: center;
  font-weight: bold;
  padding: 10px 20px;
  display: block;
  margin-top: 10px;
  cursor: pointer;

  &.blue {
    background-color: $blue-color;
    color: white;
    &:hover {
      text-decoration: none;
    }

    &:hover {
      background-color: lighten($blue-color, 5%);
    }
  }
}
