.header-author-info {
    padding: $spacing-24 $spacing-16;
    text-align: center;
    border-bottom: 3px solid var(--header-border-color);
    overflow: hidden;

    .author-link {
        color: var(--website-color);
    }

    .author-twitter {
        color: var(--twitter-color);
    }

    .bio {
        color: var(--bio-color);
    }

    .word-count__button {
        padding: $spacing-16 0 0;
        position: relative;
        min-width: 60vw;
    
        &::before {
            content: "";
            position: absolute;
            top: 100%;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0;
            border-radius: 50%;
            min-height: 60vw;
            min-width: 60vw;
            background-image: 
                linear-gradient(to top, var(--wordcount-color) 50%, var(--wordcount-color) 50%);
            transition: all 0.5s ease-in-out;
        }
    
        @include Desktop() {
            padding: $spacing-56 $spacing-22-vw;
    
            &:hover {
                &::before {
                    top: 0;
                    opacity: 0.08;
                }
            }
        }
    
        .word-count {
            color: var(--wordcount-color);
            font-weight: bold;
            margin-bottom: $spacing-8;
        }
        
        .word-count__icon {
            display: block;
            margin: auto;
            height: 24px;
            width: 24px;
            transform: rotate(90deg);
        
            path {
                fill: var(--wordcount-color);
            }
        }
    }

    @include Desktop() {
        padding: $spacing-56 $spacing-11-vw 0;
    }
}

.header-author-info__items {
    margin-bottom: $spacing-24;
    min-height: calc(100vh - 223px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: min-height 0.3s ease-in-out;

    @include Desktop() {
        min-height: calc(100vh - 351px);
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        text-align: left;
        margin-bottom: $spacing-56;
    }
}

.header-image-container {
    width: 100%;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: $spacing-24;
    border-radius: $border-radius-4;
    overflow: hidden;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: var(--header-author-name);
        opacity: 0.08;
    }

    @include Desktop() {
        width: 252px;
        min-width: 252px;
        height: 368px;
        margin-right: $spacing-86;
        margin-bottom: 0;
    }
}

.header-image {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.header-author-capital {
    color: var(--header-author-name);
    opacity: 0.56;
    font-size: $font-size-120;
    font-family: $font-family-headline;
}

.p1.bio {
    margin-top: $spacing-4;

    @include Desktop() {
        margin-top: $spacing-8;
    }
}

.p2.header-author-links {
    margin-top: $spacing-16;

    .item:not(:last-of-type)::after {
        content: "|";
        color: $color-black-opacity-16;
        padding: 0 $spacing-12;
    }
}
