.pages-menu__container {
    overflow: hidden;
}

.pages-menu--mobile {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: $spacing-16 $spacing-16 $spacing-6;
    visibility: hidden;
    margin-top: -100%;
    transition: all 0.3s ease-in-out;

    .button {
        width: 100%;

        &:not(:last-child) {
            margin-bottom: $spacing-26;
        }

        &.button--primary {
            margin-bottom: $spacing-14;
        }
    }

    &.pages-menu--mobile-visible {
        visibility: visible;
        margin-top: 0;
    }
    
    @include Desktop() {
        display: none;
    }
}

.pages-menu--desktop {
    display: none;

    @include Desktop() {
        display: flex;
        align-items: flex-start;

        .button {
            margin-left: $spacing-8;

            &.button--primary {
                margin-left: $spacing-20;
            }
        }
    }
}
