<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>

    * {
      box-sizing: border-box;
    }

    html, body {
     font-family: sans-serif;
    }

    blockquote {
       border-left: 2px solid #cdcdcd;
       padding-left: 20px;
       opacity: 0.8;
       margin-left: 0;
    }

    a.unstyled {
      color: black;
      text-decoration: none;
    }

    pre {
      font-family: Consolas,monaco,"Ubuntu Mono",courier,monospace!important;
      padding: 16px;
      overflow: auto;
      font-size: 90%;
      line-height: 1.45;
      background-color: #f7f7f7;
      border-radius: 3px;
    }

    p code {
      font-family: Consolas,monaco,"Ubuntu Mono",courier,monospace!important;
      font-size: .75rem;
      line-height: .75rem;
      color: #c25;
      padding: 4px 8px;
      background-color: #f7f7f9;
      border: 1px solid #e1e1e8;
      border-radius: 3px;
    }

    img {
      display: block;
      margin-top: 30px;
      max-width: 100%;
    }

    hr {
      display: block;
      border: 0;
      text-align: center;
      box-sizing: content-box;
      border: 0 !important;
    }

    hr.left {
      text-align: left;
    }

    hr:before {
      font-family: Georgia,Cambria,"Times New Roman",Times,serif;
      font-weight: 400;
      font-style: italic;
      font-size: 28px;
      letter-spacing: .3em;
      content: '...';
      display: inline-block;
      margin-right: .6em;
      color: black;
      position: relative;
      top: -$hr-height/2;
    }

    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
